/* Basic styles */

html {
  text-align: left;
  font-size: 16px;
  color: #000000b5;
  font-family: Helvetica, sans-serif;
}

.white {
  background-color: white;
}

.gray {
  background-color: #a9a9a970;
}

h1.center {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 { 
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover, .bold span:hover {
  font-weight: 700;
}

/* Flex styles */

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.main {
  width: 60%;
  padding: 2rem 1.5rem 0;
}

.main img {
  max-width: 100%;
}

.container {
  width: 40%;
  border-left: 1px solid #a9a9a970;
  flex-direction: column;
}

.container img {
  width: 35%;
  padding: 1rem;
}

.flex_content {
  width: 65%;
}

.container div.flexbox {
  align-items: center;
  width: 100%;
}

/* Heading */

header.flexbox {
  height: 4rem;
  text-align: right;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.logo {
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}

.logo img {
  height: 3rem;
}

.logo_color {
  color: #a9a9a9;
  font-weight: 500;
}

.options span {
  margin-left: 1rem;
}

/* Main section */

/* Mission */

#mission {
  align-items: center;
  padding-bottom: 2rem;
}

.mission_text {
  width: 20%;
}

.mission_text * {
  margin: 2rem 0;
}

.button {
  background-color: #000000b5;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.button:hover {
  background-color: gray;
}

/* Information */

.info_text h1{
  padding: 2rem 0 1.5rem;
}

.info_text p {
  padding-bottom: 2rem;
}

.flex_content * {
  padding-bottom: 0.5rem;
}

.border {
  border-bottom: 2px double #a9a9a970;
}

/* Courses */

#courses div.flexbox {
  justify-content: center;
}

#courses h1 {
  padding: 2rem 0;
}

.course {
  margin: 0 1rem 2rem;
  max-width: 33.25rem;
  padding-bottom: 1.5rem;
}

.course h2,.course p {
  padding: 0 2rem 0 1rem;
}

.course h2 {
  margin-top: 1rem;
}

.course p {
  margin-top: 0.5rem;
}

.course img {
  width: 100%;
  max-height: 17rem;
}

/* Exhibit */


#exhibit h1.center {
  padding: 2rem 0 ;
}

#exhibit .main {
  padding: 0 1.5rem 1.5rem;
}
#exhibit .container {
  border: 0;
}

.exhibition video  {
  max-width: 100%;
}

.exhibition h2 {
  padding: 1.5rem 0 0.5rem;
}

/* Footing */

footer {
  border-top: 1px solid #000000b5;
  justify-content: space-between;
  padding: 1rem 1.5rem 3rem;
}